Click
Jinja2
livereload
Markdown
MarkupSafe
mkdocs
pymdown-extensions
mkdocs-material
mkdocs-awesome-pages-plugin
mkdocs-minify-plugin
PyYAML
six
tornado
pillow
cairosvg
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
